
    <div class="row">
      <div class="offset-md-4 col-md-4">
<div id="table1">
  <h2>Odmiana to be</h2>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-pe1m{font-weight:bold;font-size:18px;text-align:left;vertical-align:top}
</style>
<table class="tg">
<tr>
  <th class="tg-0lax"></th>
  <th class="tg-pe1m">Present Simple</th>
  <th class="tg-pe1m">Past Simple</th>
  <th class="tg-pe1m">Future Simple</th>
</tr>
<tr>
  <td class="tg-pe1m">I</td>
  <td class="tg-0lax">am</td>
  <td class="tg-0lax">was</td>
  <td class="tg-0lax">will be</td>
</tr>
<tr>
  <td class="tg-pe1m">He/She/It</td>
  <td class="tg-0lax">is</td>
  <td class="tg-0lax">was</td>
  <td class="tg-0lax">will be</td>
</tr>
<tr>
  <td class="tg-pe1m">You/We/They</td>
  <td class="tg-0lax">are</td>
  <td class="tg-0lax">were</td>
  <td class="tg-0lax">will be</td>
</tr>
</table>	
  <input type="button" id="zad1" value="Try it!"/>
  </div>

<div id="page1">
  <h2>Fill the gaps</h2>
  <form>
      She <input type="text" size="10" id="z1" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> out tomorrow
      <input type="text" style="display: none;" />
      <input type="button" id="mybutton1" value="Check"/>
  </form>
  <div id="zdanie1"></div>
  <div id="reakcja1"></div>

  <form>
      He <input type="text" size="10" id="z2" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> busy last sunday.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton2">Check</button>
  </form>
  <div id="zdanie2"></div>
  <div id="reakcja2"></div>

  <form>
      I <input type="text" size="10" id="z3" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> your dad.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton3">Check</button>
  </form>
  <div id="zdanie3"></div>
  <div id="reakcja3"></div>

  <form>
      We <input type="text" size="10" id="z4" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> with Tom then.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton4">Check</button>
  </form>
  <div id="zdanie4"></div>
  <div id="reakcja4"></div>

  <form>
      You <input type="text" size="10" id="z5" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> really sad today.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton5">Check</button>
  </form>
  <div id="zdanie5"></div>
  <div id="reakcja5"></div>
  <input type="button" id="zad2" value="Next page"/>

</div>

<div id="table2">
  <h2>Pytania</h2>
  
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-yg9r{font-weight:bold;font-size:18px;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-pe1m{font-weight:bold;font-size:18px;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
</style>
<table class="tg">
<tr>
  <th class="tg-0lax"></th>
  <th class="tg-pe1m">Present Simple</th>
  <th class="tg-pe1m">Past Simple</th>
</tr>
<tr>
  <td class="tg-yg9r">I</td>
  <td class="tg-0pky">Am I here?</td>
  <td class="tg-0pky">Was I there?</td>
</tr>
<tr>
  <td class="tg-yg9r">He/She/It</td>
  <td class="tg-0pky">Is she here?</td>
  <td class="tg-0pky">Was he here?</td>
</tr>
<tr>
  <td class="tg-yg9r">You/We/They</td>
  <td class="tg-0pky">Are you here?</td>
  <td class="tg-0pky">Were we there?</td>
</tr>
</table>

  <input type="button" id="nextOne" value="Try it!"/>
</div>

<div id="page2">
  <h2>Fill the gaps</h2>
  <form>
      <input type="text" size="10" id="z6" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> he at your party yesterday?
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton6">Check</button>
  </form>
  <div id="zdanie6"></div>
  <div id="reakcja6"></div>

  <form>
      <input type="text" size="10" id="z7" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> you here now?
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton7">Check</button>
  </form>
  <div id="zdanie7"></div>
  <div id="reakcja7"></div>

  <form>
      <input type="text" size="10" id="z8" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> I there then?
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton8">Check</button>
  </form>
  <div id="zdanie8"></div>
  <div id="reakcja8"></div>


  <form>
      <input type="text" size="10" id="z9" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> Amy home?
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton9">Check</button>
  </form>
  <div id="zdanie9"></div>
  <div id="reakcja9"></div>


  <form>
      <input type="text" size="10" id="z10" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> they present week ago?
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton10">Check</button>
  </form>
  <div id="zdanie10"></div>
  <div id="reakcja10"></div>

  <input type="button" id="zad3" value="Next page"/>
</div>

<div id ="table3">
  <h2>Liczebniki</h2>
  
  <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-yg9r{font-weight:bold;font-size:18px;border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-pe1m{font-weight:bold;font-size:18px;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<tr>
  <th class="tg-0pky"></th>
  <th class="tg-yg9r">1</th>
  <th class="tg-pe1m">2</th>
  <th class="tg-pe1m">3</th>
  <th class="tg-pe1m">4</th>
  <th class="tg-pe1m">5</th>
  <th class="tg-pe1m">6</th>
  <th class="tg-pe1m">7</th>
  <th class="tg-pe1m">8</th>
  <th class="tg-pe1m">9</th>
  <th class="tg-pe1m">10</th>
</tr>
<tr>
  <td class="tg-yg9r">Liczebniki</td>
  <td class="tg-0pky">One</td>
  <td class="tg-0lax">Two</td>
  <td class="tg-0lax">Three</td>
  <td class="tg-0lax">Four</td>
  <td class="tg-0lax">Five</td>
  <td class="tg-0lax">Six</td>
  <td class="tg-0lax">Seven</td>
  <td class="tg-0lax">Eight</td>
  <td class="tg-0lax">Nine</td>
  <td class="tg-0lax">Ten</td>
</tr>
<tr>
  <td class="tg-yg9r">Liczebniki porządkowe</td>
  <td class="tg-0pky">First</td>
  <td class="tg-0lax">Second</td>
  <td class="tg-0lax">Third</td>
  <td class="tg-0lax">Fourth</td>
  <td class="tg-0lax">Fifth</td>
  <td class="tg-0lax">Sixth</td>
  <td class="tg-0lax">Seventh</td>
  <td class="tg-0lax">Eighth</td>
  <td class="tg-0lax">Ninth</td>
  <td class="tg-0lax">Tenth</td>
</tr>
</table>

  <input type="button" id="nextOne1" value="Try it!"/>
</div>

<div id="page3">
  <h2>Fill the gaps</h2>
  <form>
      I am <input type="text" size="10" id="z11" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> (1) in the queue.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton11">Check</button>
  </form>
  <div id="zdanie11"></div>
  <div id="reakcja11"></div>

  <form>
      I have <input type="text" size="10" id="z12" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> (3) girls in my class.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton12">Check</button>
  </form>
  <div id="zdanie12"></div>
  <div id="reakcja12"></div>

  <form>
      He won <input type="text" size="10" id="z13" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> (2) place.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton13">Check</button>
  </form>
  <div id="zdanie13"></div>
  <div id="reakcja13"></div>


  <form>
      I have <input type="text" size="10" id="z14" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> (9) missed calls.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton14">Check</button>
  </form>
  <div id="zdanie14"></div>
  <div id="reakcja14"></div>


  <form>
      It is my <input type="text" size="10" id="z15" onkeydown="if (event.keyCode == 13)  document.getElementById('mybutton').click()" /> (5) yellow dress.
      <input type="text" style="display: none;" />
      <button type="button" id="mybutton15">Check</button>
  </form>
  <div id="zdanie15"></div>
  <div id="reakcja15"></div>
 
  <input type="button" id="punktacja" value="Points" />
</div>
  <div id="punkt"></div>

 
  </div></div>