.Opis{
    width:500px;
}
.Odejmowanie{
    margin-bottom: 0px;
}
.container1{
    position: absolute;

  }
.plus{
    position:absolute;
   top:380px;
   left:390px;
   font-size: 70px;
}
.equal{
    position:absolute;
    top:380px;
    left:680px;
    font-size: 70px;    
}
.equal1{
    position:absolute;
    top:970px;
    left:850px;
    font-size: 70px;    
}
.minus{
    position:absolute;
    top:970px;
    left:580px;
    font-size: 70px;    
}


