
      
      <body background="assets/img/angular-logo.png"></body>

<h1>Dodawanie ułamków</h1>
<div class="Opis">W przypadku gdy ułamki maja taką samą wartość pod kreską ułamkową jak np.
   &#8531; + &#8532; wtedy dodajemy tylko liczby nad kreska czyli otrzymujemy 1+2 co jest równe 3</div>

   
   <img src="assets/images/1_4.jpg"/>
         
<div class="plus">
    +
</div>

   <img src="assets/images/half.jpg"/>
   
<div class="equal">
    =
</div>
   <img src="assets/images/3_4.jpg"/>
<div class ="Odejmowanie">
<h1>Odejmowanie ułamków</h1>
<div class="Opis">Tak samo jak w dodawaniu,gdy mamy taką samą wartość pod kreską ułamkową jak np.
      &#8542;+&#8541; wtedy odejmujemy tylko liczby nad kreska czyli otrzymujemy 7-5 co jest rowne 2</div>

      <img src="assets/images/3_4.jpg"/>
         
         <img src="assets/images/half.jpg"/>
     
         <img src="assets/images/1_4.jpg"/>
             
      <div class="equal1">
          =
      </div>
      <div class="minus">
          -
      </div>
</div>
            <div class="Container1">
              <a routerLink="/" class ="logo">Powrót</a>
 </div>
