.Opis{
    width:500px;
}
.Odejmowanie{
    margin-bottom: 0px;
}
.container1{
    position: absolute;

  }
.plus{
    position:absolute;
   top:380px;
   left:260px;
   font-size: 70px;
}
.equal{
    position:absolute;
    top:380px;
    left:550px;
    font-size: 70px;    
}
.equal1{
    position:absolute;
    top:1030px;
    left:740px;
    font-size: 70px;    
}
.minus{
    position:absolute;
    top:1020px;
    left:480px;
    font-size: 70px;    
}


