<h1 style="font-size: 50px">Wprowadzenie</h1>
<div class="przyklad1"><h1>23*12</h1></div>
<div class="Opis1">
    <p>1. Narysuj równoległe linie w ilości odpowiadającej wartościom cyfr pierwszej mnozonej liczby, w naszym przypadku 
        jest to jedna  (czarna) oraz dwie (niebieskie) linie.<br>
    2. Narysuj linie prostopadłe do poprzednich, w ilości odpowiadającej wartosciom cyfr drugiej mnożonej liczby, w naszym przypadku są to dwie (różowe)
        oraz trzy (zielone) linie.<br>
    3. Policz punkty przecięcia linii kółkami<br>
    4. Kółka po lewej stronie są cyfrą jednosci, w środu dziesiątek, po prawej setek.
    </p>


</div>
<img src="assets/images/japanese_easy.png"/>
<div class="przyklad1"><h1>24*13</h1></div>
<div class="Opis1">
        <p> W przykładzie poniżej liczba przecięć w lewym oraz środkowym rzedzie przekracza wartość dziesięc<br>
            W takim wypadku należy postąpić jak w zwykłym mnożeniu pisemnym czyli przenieść cyfrę<br>
             dziesiątek do następnego rzędu.

        </p>
<img src="assets/images/japanese_hard.png"/>

<div class="Container1">
  <a routerLink="/japanese-menu" class ="logo">Powrót</a>
</div>

