
<div class="Container1" style="position: absolute; top:600px;">
      
          
   
    
</div>
<div class="Container2" style="position: absolute; top:800px;">         
  
</div>



<header>  
    <div class="Container">
      <h1>Japońska tabliczka mnożenia</h1>
      <nav>
        <ul>
          <li> <a routerLink="/japanese-guide">Poradnik</a></li>
          <li> <a routerLink="/japanese-question">Zadania</a></li>
          <li>  <a routerLink="/" class ="logo">Powrót</a></li>
        </ul>
      </nav>
    </div>
  </header>

